@{
    Layout = "_LayoutOnlyCss";
}

<div class="container">
    <div class="container-box">
    <div>
        <form asp-controller="Account" asp-action="Login">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    </div>
        <div>
            <a asp-controller="Account" 
               asp-action="Register" 
               style="text-decoration: none; 
               color: orange">Register</a>
        </div>
        </div>
</div>