@model Chat

<div class="container">
<div class="container-box">
    <form asp-controller="Home" asp-action="JoinChat">
        <input type="text" name="chatName"/>
        <br/>
        <input type="submit" value="Join chat"/>
    </form>
</div>
</div>